/* General styles */

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
body{
  min-width: 960px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  background: #000000 url("/img/site-background.jpg") no-repeat top;
}
body.inner-page{
  color: #000000;
  background: #ffffff url("/img/index-content-bg.png") repeat;
}
.container{
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.btn{
  display: inline-block;
  padding: 15px 35px;
  margin-right: 16px;

  border: none;
  outline: none;
  cursor: pointer

  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;

  text-align: center;
  vertical-align: top;

  color: #ffffff;
  background: #000000;
}
.btn:active,
.btn:hover{
  background: #663d15;
}
button{
  cursor: pointer;
}
/* border: 1px solid red; */
/*Pop-up login Form*/
.popup-login{
  position: absolute;
  top: 120px;
  left: 50%;
  width: 300px;
  margin-left: -230px;
  padding: 45px 80px;
<<<<<<< HEAD
  background: #ffffff url("/img/index-content-bg.png") repeat top;
  color: #000000;
  box-shadow: 0px 0px 30px 30px rgba(0, 0, 0, 0.4);
}
.popup-login-close-button{
  position: absolute;
  top: 8px;
  right: -34px;
  width: 25px;
  height: 25px;
  border: 0;
  outline: none;
  cursor: pointer;
  background: none;
  font-size: 0;
}
.popup-login-close-button::before,
.popup-login-close-button::after{
  content: "";
  position: absolute;
  top: 7px;
  left: 1px;
  width: 25px;
  height: 5px;
  background: #c9c9c9;
}
.popup-login-close-button::before{
  transform: rotate(45deg);
}
.popup-login-close-button::after{
  transform: rotate(-45deg);
}

=======
  background: #ffffff;
  color: #000000;
}
>>>>>>> origin/master
.popup-login h3{
  margin:0;
  margin-bottom: 25px;
  font-size: 30px;
}
.popup-login p{
  margin:0;
<<<<<<< HEAD
  margin-bottom: 15px;
}
.login-form input{
  width: 246px;
  margin-bottom:15px;
  padding: 10px 0;
  padding-left: 15px;
  padding-right: 35px;
  border: 2px solid #000000;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
}
.login-form input::after{
  width: 43px;
  height: 43px;
  background: #ffffff url("/img/spritesheet.png") no-repeat center;
  background-position: -303px -7px;
}
.login-form input:focus{
  outline: 0;
  border: 2px solid #663d15;
}
.login-form input::-webkit-input-placeholder{
  color: #000000;
}
.login-form input:-moz-placeholder{
  color: #000000;
}
.login-form button{
  width: 100%;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
}
.login-checkbox input[type="checkbox"]{
  display: none;
}

.login-checkbox{
  position: relative;

  float:left;
  display: block;
  margin-bottom: 15px;
  padding-left:32px;
  cursor: pointer;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator{
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after{
  content: "";
  position: absolute;
  top: 7px;
  left: 1px;
  width: 14px;
  height: 2px;
  background: #000000;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before{
  transform: rotate(45deg);
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after{
  transform: rotate(-45deg);
}
.restore{
  float: right;
  color: #000000;
=======
>>>>>>> origin/master
}
/* Header*/

.main-header{
  margin-bottom: 55px;
  background-color: #000000;
}
/*Inner-page styles*/
.inner-logo{
  float: left;
  width: 111px;
  height: 24px;
  margin-top: 25px;
  margin-right: 40px;
}

.inner-logo img{
  margin:0;
  width: 111px;
  height: 24px;
}
/*End of Inner-page styles*/
.main-navigation{
  float: left;
  width: 680px;
}
.main-navigation ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.main-navigation li{
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 24px;
}
.main-navigation a{
  display: block;
  padding: 25px 20px;
  color: #ffffff;
  text-decoration: none;
}
.main-navigation a:hover{
  background-color: #242424;
}
/*Inner-page styles*/
.selected{
  position: relative;
}
.selected span{
  display: block;
  padding: 25px 20px;
  color: #ffffff;
}
.selected::after{
  content: "";

  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  height: 5px;
  background: #ffffff;
}

.selected a:hover{
  background: none;
}
/*End of inner-page styles*/
.user-block{
  float: right;
  max-width: 140px;
}
.login{
  position: relative;
  display: inline-block;
  padding: 25px 20px;
  padding-left: 50px;
  text-decoration: none;
  color: #ffffff;
  vertical-align: top;
}
.login::before{
  position: absolute;
  top: 29px;
  left: 25px;
  width: 18px;
  height: 16px;
  content: "";
  background: url(/img/spritesheet.png) no-repeat;
  background-position: -376px -20px;
}
.login:hover{
  background-color: #242424;
}
.login:hover::before{
  opacity: 0.3;
}
/*     Main-container     */
/* Logo */
  .index-logo{
    width: 368px;
    height: 204px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .index-logo img{
    width: 368px;
    height: 204px;
  }
/*Inner-page styles*/
.inner-title{
  margin-bottom: 75px;
}
.inner-title h1{
  margin: 0;
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 42px;
}
.breadcrumbs{
  margin:0;
  padding:0;
  list-style: none;
  font-size: 0;
}
.breadcrumbs li{
  position: relative;
  display: inline-block;
  margin-right: 15px;
  padding-right:25px;
  font-size: 14px;
  line-height: 24px;
}
.breadcrumbs a{
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}
.breadcrumbs li::after{
  content: "";
  position: absolute;
  top:8px;
  left:63px;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  background: #000000;
}
.current{
  color: #aba9a7;
}
.current::after{
  display: none;
}
/*Inner top block*/
.inner-price-top{
  position: relative;
  clear:both;
  width: 940px;
  margin-bottom: 85px;
}
.inner-price-top h2{
  position: absolute;
  top:-12px;
  left: 160px;
  margin:0;
  padding:0 25px;
  font-size: 48px;
  background: #ffffff url("/img/index-content-bg.png") repeat;
}
.inner-price-top-line{
  display: block;
  width: 100%;
  height: 2px;
  background: #000000;
}

/*Left side of Inner-page*/
.inner-price-left{
  float:left;
  width: 240px;
  margin-right: 240px;
  margin-bottom: 50px;
}
.inner-price-left h3{
  margin:0;
  margin-bottom: 35px;
  font-size:24px;
  line-height: 32px;
}
.inner-price-left ul{
  margin:0;
  padding:0;
  list-style: square url(/img/sprite);
}
.inner-price-left li{
  margin-left:15px;
  margin-bottom: 10px;
}
/*Right side of Inner-page*/
.inner-price-right{
  float: right;
  width: 460px;
}
.inner-price-right h3{
  max-width: 176px;
  margin:0;
  margin-bottom: 36px;
  padding:0;
  font-size: 24px;
  line-height: 32px;
}
.inner-price-table td,
.inner-price-table{
  border: 2px solid #000000;
  border-collapse: collapse;
}
.inner-price-table td{
  width: 205px;
  padding: 10px 15px;
}
.inner-price-table td:nth-child(2n){
  text-align: center;
}
/*Bottom Inner-page*/
.inner-price-bottom{
  clear:both;
}
.inner-price-bottom h3{
  font-size: 24px;
  line-height: 32px;
}
.inner-price-bottom blockquote{
  display: inline-block;
  vertical-align: top;
  width: 390px;
  margin: 0;
  margin-right: 90px;
  font-size: 14px;
  line-height: 24px;
}
.inner-price-bottom blockquote:last-child{
  margin:0;
}
/*End of Inner-page styles*/
/* Features */
  .features{
    margin-bottom: 60px;
    text-align: center;
  }
  .features-name{
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 42px;
    padding-bottom: 50px;
    margin: 0;
    margin-bottom:30px;
  }
  .features-name::after{
    content: "";
    position: absolute;
    top: 75%;
    left: 46%;
    width: 20px;
    height: 20px;
    background: #ffffff;
    transform: rotate(45deg);
  }
  .features-item{
    float: left;
    width: 300px;
    margin-right: 17px;
  }
  .features-item:last-child{
    margin-right: 0;
  }

/* Index-content */
  .index-content{
    padding: 55px 80px;
    margin-bottom: 35px;
    background: url("/img/index-line.png") no-repeat center,
    #ffffff url("/img/index-content-bg.png") repeat;
    color: #000000;
  }
  .index-content-left{
    float: left;
    width: 380px;
  }

  .index-content-title{
    display: block;
    margin: 0;
    margin-bottom:30px;
    padding:0;
  }
  .index-content p {
    margin: 0;
    margin-bottom:25px;
  }
  .news-preview p{
    margin: 0;
  }
  .news-preview{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .news-preview li{
    margin-bottom: 30px;
  }
  .news-preview time{
    font-weight: 400;
    text-transform: none;
  }

  .index-content-right{
    float:right;
    width: 300px;
  }
  .gallery{
    position: relative;
    width: 300px;
    height: 280px;
  }
  .gallery-content{
    margin: 0;
    width: 286px;
    height: 164px;
    border:7px solid #ffffff;
  }
  .gallery-content img{
    width: 286px;
    height: 164px;
  }
  .gallery .btn{
    position: absolute;
    bottom: 0;
    padding: 15px 50px;
    margin: 0;
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
  }
  .gallery-prev{
    left: 0;
  }
  .gallery-next{
    right: 0;
  }

.appointment-form input{
  display: inline-block;
  width: 124px;
  padding: 10px 0;
  padding-left: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  vertical-align: top;

  color: #000000;
  background-color: #f6f9f3;
  border: 2px solid #000000;
  outline: none;
}
.appointment-form input::-webkit-input-placeholder{
  color:#000000;
}
.appointment-form input:-moz-placeholder{
  color:#000000;
}
.appointment-form input:nth-child(2n){
  margin-right: 0;
}
.appointment-form input:focus{
  border: 2px solid #663d15;
}
.appointment-form .btn{
  width: 100%;
  clear:both;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
}
/* Footer */
  .main-footer{
    margin-top: 40px;
    padding-top: 55px;
    color: #ffffff;
    background: #000000 url("/img/footer-bg.png") repeat;
  }
  .footer-contacts{
    float: left;
    width: 380px;
    margin-right: 10px;
  }
  .footer-contacts a{
    display: block;
    color: #ffffff;
  }
  .footer-contacts a:hover{
    text-decoration: none;
  }
  .footer-social{
    float: left;
    width: 160px;
    text-align: center;
  }
  .social-btn{
    display: inline-block;
    width: 43px;
    height: 43px;
    font-size: 0;
    background: #000000;
  }
  .social-btn:hover{
    background: #ffffff;
  }
  .vk{
    width: 43px;
    height: 43px;
    background: #000000 url("/img/spritesheet.png") no-repeat;
    background-position: -238px -7px;
  }
  .vk:hover{
    width: 43px;
    height: 43px;
    background: #ffffff url("/img/spritesheet.png") no-repeat center;
    background-position: -303px -7px;
  }
  .facebook{
    width: 43px;
    height: 43px;
    background: #000000 url("/img/spritesheet.png") no-repeat;
    background-position: -5px -10px;
  }
  .facebook:hover{
    background: #ffffff url("/img/spritesheet.png") no-repeat;
    background-position: -57px -10px;
  }
  .instagram{
    width: 43px;
    height: 43px;
    background: #000000 url("/img/spritesheet.png") no-repeat;
    background-position: -113px -10px;
  }
  .instagram:hover{
    background: #ffffff url("/img/spritesheet.png") no-repeat;
    background-position: -174px -10px;
  }
  .footer-copyright{
    float: right;
    margin-top: 11px;
    max-width: 180px;
  }
  .footer-copyright p{
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
  }
  .footer-copyright .btn{
    margin-right: 0;
  }
